<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>Crie ima conta</h1>

            <form action="">
                <input type="email" name="E-mail" id="">

                <input type="password" name="Senha" id="">

                <input type="tel" name="Número do celular" id="">
            </form>
        </div>
    </div>
</body>
</html>