<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="doc-container">
            
            <h1>Clique nos ícones abaixo</h1>
            <p>forneça os respectivos docmentos para continuar</p>

            <div class="doc-box">
                
                <div class="rg-box">
                    <h2>RG</h2>

                    <input type="checkbox" name="rg-check" id="">
                </div>

                <div class="cnh-box">
                    <h2>CNH</h2>

                    <input type="checkbox" name="cnh-check" id="">
                </div>

                <div class="crlv-box">
                    <h2>CRLV</h2>

                    <input type="checkbox" name="crlv-check" id="">
                </div>

                <div class="aac-box">
                    <h2>Atestado de Antecendentes Criminais</h2>

                    <input type="checkbox" name="aac-check" id="">
                </div>
            </div>

            <footer>
                <img src="../img/mini-logo-branca.png" alt="logo-muv">

                <button>OK</button>
            </footer>
        </div>
    </div>
</body>
</html>