<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../cordova.js"></script>
    <title>Start</title>
</head>
<body class="init-body">
    
        <div class="init-container">
            <header class="init-header">

                <div class="start-menu">

                    <button class="btn-menu">
                        <img id="logoutBtn" src="../img/menuBtn-icon.png" alt="menu-button-icon">
                    </button>

                    <div class="status-container">
                        <p id="status-header"> Offline </p>

                        <input type="checkbox" name="status-check" id="status-btn">

                        
                    </div>

                    <div class="news-container">
                        <a href="#">
                            <button class="news-btn" id="bell-icon">
                                <img src="../img/bell_icon.png" alt="sino-icon">
                            </button>
                        </a>

                        <a href="#">
                            <button class="news-btn" id="chat-icon">
                                <img src="../img/chat.png" alt="chat-icon">
                            </button>
                        </a>
                    </div>
                </div>
                
                <div id="statusBox" class="statusAlert-container">

                    <div class="status-box offline-box">
                        <div class="txtStatus-box">
                            <img src="../img/moon_icon.png" alt="moon-icon" class="status-icon">
    
                            <div class="txtStatus">
                                <h1 id="status-title">Você está offline!</h1>
                                <p id="status-subTitle">Fique online para aceitar corridas!</p>
                            </div>
                        </div>
                    </div>

                    <div class="status-box online-box">
                        <div class="txtStatus-box">
                            <img src="../img/sun_icon.png" alt="moon-icon" class="status-icon">
    
                            <div class="txtStatus">
                                <h1 id="status-title">Você está online!</h1>
                                <p id="status-subTitle">Aceite novas corridas!</p>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </header>
            <div id="map"></div>
            <div class="profile-preview" style="display: flex;position: absolute;bottom: 0;">
                <div class="proPreview-container">
                    <figure class="preview-pic">
                        <img src="../img/profile_pic.png" alt="profile-picture" id="driverImg">
                    </figure>

                    <div class="proPreview-txt">
                        <h1 class="name p-title" id="driverName">Mr. Driver Irraaaa</h1>
                        <p class="driver-level p-txt"> Basic level </p>
                    </div>

                    <div class="cash-txt">
                        <h1 class="cash p-title"> R$ 0</h1>
                        <p class="p-txt">Balance</p>
                    </div>
                </div>

                <div class="atrLevel-container">
                    <div class="atrLevel-item">
                        <figure class="atr-Icon time-icon">
                            <img src="../img/clock_icon.png" alt="clock-icon">
                        </figure>

                        <h1 class="atrLevel-title race-time"> 0 </h1>

                        <p class="atrLevel-sub"> HOURS ONLINE</p>
                    </div>

                    <div class="atrLevel-item">
                        <figure class="atr-Icon velo-icon">
                            <img src="../img/velo_icon.png" alt="velocímetro-icon">
                        </figure>

                        <h1 class="atrLevel-title km-data"> 0 KM </h1>

                        <p class="atrLevel-sub"> TOTAL DISTANCE</p>
                    </div>

                    <div class="atrLevel-item">
                        <figure class="atr-Icon ticket-icon">
                            <img src="../img/ticket_icon.png" alt="ticket-icon">
                        </figure>

                        <h1 class="atrLevel-title total-races"> 0 </h1>

                        <p class="atrLevel-sub"> TOTAL JOBS</p>
                    </div>
                </div>
            </div>
            <div class="raceRequest-container" style="position: absolute;bottom: 2em;"></div>
        </div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABnuQpgsqSITzefoNMys4iXmfgWlXqEfk&callback=initMap&v=weekly"
        async>
    </script>
    <script>
        $(document).ready(function (){
            $.getJSON('http://127.0.0.1/Muv_DrvierApp/Muv_Driver/www/php/sessao.php', function (result) {
                $('#driverName').text(result.nome)
                $('#driverImg').attr('src', `../driverimg/${result.imgperfil}`)                
        })
        $('#logoutBtn').click(()=>{
            $.ajax({
                url: 'http://127.0.0.1/Muv_DrvierApp/Muv_Driver/www/php/logout.php',
                success: function(){
                    location.href = 'login.html'
                }
            })
        })
    }) 

            const statusBtn = document.querySelector("#status-btn");

            const offBox = document.querySelector(".offline-box");
            const onBox = document.querySelector(".online-box");
            const statusTxt = document.querySelector("#status-header");
            const proPreview = document.querySelector(".profile-preview");

            statusBtn.addEventListener("click", function(){
                if(statusBtn.checked){
                    offBox.style.display = "none";
                    onBox.style.display = "flex";

                    statusTxt.innerHTML = "Online";
                    proPreview.style.display = "none";                    
                }
                else {
                    onBox.style.display = "none";
                    offBox.style.display = "flex";

                    statusTxt.innerHTML = "Offline";
                    proPreview.style.display = "flex";
                    popUpRace.style.display = "none";
                }
            })

            const popUpRace = document.querySelector('.raceRequest-container')
            const statusBoxFade = () => {
                        setTimeout(()=>{
                        $('#statusBox').slideUp(500)
                    },3000)
                }
            statusBtn.addEventListener('click', () =>{
                if(statusBtn.checked){
                    statusBoxFade()
                const showRace = setInterval(() => {
                    $.getJSON('http://127.0.0.1/Muv_DrvierApp/Muv_Driver/www/php/popupcorrida.php', function (result) {
                        if(result != 'norace'){
                            popUpRace.innerHTML = result
                            popUpRace.style.display = "flex";                            

                            const acceptRace = document.querySelector('#btnAcceptRace')
                            acceptRace.addEventListener('click', () =>{
                                location.href = 'race-specification.html'
                            })

                            clearInterval(showRace)
                        }else{
                            console.log('sem corridas!')
                        }                                        
                    })
                }, 1000);                                    
                } else {
                    clearTimeout(statusBoxFade)
                    console.log('offline')                 
                }

            })
            
            
            


    </script>
</body>
</html>