<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <img src="../img/foguete_avatar.png" alt="foguete_avatar" class="foguete_avatar">
           
            <div class="container-btn">
                <a href="#">
                    <button class="btn-account">
                        <h3>Crie uma conta</h3>
                        <img src="../img/mail-icon.png" alt="icon-carta">
                    </button>
                </a>

                <div class="row-btn">
                    <button class="btn btn-fb">
                        <img src="../img/fb-icon.png" alt="google-icon">
                    </button>

                    <button class="btn btn-google">
                        <img src="../img/google-icon.png" alt="google-icon">
                    </button>
                </div>

               <a href="#"> Já possui uma conta? Faça o login</a>
            </div>
            
            <footer>
                <img src="../img/logo-muv-azul.png" alt="logo-muv">
            </footer>
        </div>
    </div>
</body>
</html>