<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css" />

    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-container">

            <form class="login-form" action="">
                <h1>Login</h1>

                <div class="login-box">
                    <input type="email" name="E-mail" placeholder="E-mail" id="" class="input">

                    <input type="password" name="Senha" placeholder="Senha" id="" class="input password-input">

                </div>
        
                <input type="submit" value="OK" class="ok-input btn">
            </form>

            <p class="login-p">
                Ainda não possui uma conta?
                <a href="#" class="link-txt">
                    Crie uma conta
                </a>
            </p>

            <footer>
                <img src="../img/logo-muv-azul.png" alt="logo-muv">
            </footer>
        </div>
    </div>
</body>
</html>