<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css" />

    <title>Foto de perfil</title>
</head>
<body class="prePhoto-body">
    <div class="container">
        <div class="inst-box">
            <div class="inst-1">
                <figure>
                    <img src="../img/avatar-celular.png" alt="personagem usando celular">
                </figure>

                <p>Muito bem! <br>
                    Agora precisamos que nos forneça uma foto do seu rosto.</p>
            </div>

            <div class="inst-2">
                <div class="obs-box">
                    <header>
                        Observação
                    </header>

                    <p>
                        Tire a foto de frente e sem acessórios como óculos ou
                        chapéus
                    </p>
                </div>

                <button class="btn okGreen-btn">OK</button>
            </div>

            <footer>
                <img src="../img/mini-logo-branca.png" alt="logo-muv">
            </footer>
        </div>
    </div>
</body>
</html>