<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>Foto de perfil</title>
</head>
<body class="prePhoto-body">
    <div class="container">
        <div class="inst-box">

            <div class="inst-1" style="opacity: 0;">
                <figure>
                    <img src="../img/avatar-celular.png" alt="personagem usando celular">
                </figure>

                <p>Muito bem! <br>
                    Agora precisamos que nos forneça uma foto do seu rosto.</p>
            </div>

            <div class="inst-2" style="opacity: 0;">
                <div class="obs-box">
                    <header>
                        Observação
                    </header>

                    <p>
                        Tire a foto de frente e sem acessórios como óculos ou
                        chapéus
                    </p>
                </div>

                <button class="btn okGreen-btn">OK</button>
            </div>

            <footer style="align-items: flex-end;height:100%;">
                <div>
                    <img src="../img/mini-logo-branca.png" alt="logo-muv">
                </div>                
            </footer>
        </div>
    </div>
    <script>

        $(document).ready(function (){
            $('.inst-1').animate({
                    opacity: 1
                }, 'slow')
            setTimeout(() =>{
                $('.inst-1').hide()
                $('.inst-2').css('display', 'flex')
                $('.inst-2').animate({
                    opacity: 1
                }, 'slow')

            },3000)
        })       

        
    
    </script>
</body>
</html>