<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Corrida</title>

    <link rel="stylesheet" type="text/css" href="../css/index.css" />

</head>
<body class="race-body">
    <div class="popUpRace-container">
        <header class="racePage-header">
            <button class="back-btn">
                <img src="../img/back-btn-black.png" alt="back-button-icon">
            </button>

            <h1 class="p-title"> Pick Up</h1>
        </header>

        <div class="pickUp-container">
            <div class="local-row">
                <div class="localTxt-row"> 
                    <p class="p-title">Pick up at</p>
                    <p class="p-title">2KM</p>
                </div>

                <p class="p-title local-title">R. Local de Exemplo</p>
            </div>
                <div class="proClient-pickUp">
                    <figure>
                        <img src="../img/proPic-user.png" alt="client-photo">
                    </figure>

                    <div class="proTxt-pickUp">
                        <h1>Nome do Usuário</h1>

                        <div class="defSpe-box def-RaceSpe defSpe-pickUp">
                            <figure>
                                <img src="../img/hand-icon.png" alt="hand-icon">
                            </figure>
                    
                            <p> Surdo</p>
                        </div>
                    </div>

                    <a href="#">
                        <button class="news-btn">
                            <img src="../img/chat.png" alt="chat-icon">
                        </button>
                    </a>
                </div>
            
        </div>

        <div class="startRace-container">

            <div class="startRace-content">
                <div class="local-row">
                    <div class="localTxt-row">
                        <p class="p-txt">Deixar em</p>
                        <p class="p-txt">10KM</p>
                    </div>
                    
                    <div class="destiny-row">
                        <p class="p-title local-title">R. Destino de Exemplo</p>

                        <p class="p-title local-title race-price">R$15,00</p>
                    </div>
                </div>

                <div class="proStart-container proClient-pickUp">
                    <figure>
                        <img src="../img/proPic-user.png" alt="user-profile-photo">
                    </figure>

                    <p class="p-title proStart-nome"> Nome do Cliente </p>

                    <div class="defSpe-box def-RaceSpe defSpe-pickUp">
                        <figure>
                            <img src="../img/hand-icon.png" alt="hand-icon">
                        </figure>
                
                        <p> Surdo</p>
                    </div>
                </div>

                <button class="btn start-btn pickUp-btn p-title">
                    COMEÇAR A CORRIDA
                </button>
            </div>
        </div>

        <div class="route-container">
            <div class="local-row">
                <div class="localTxt-row">
                    <p class="p-txt">Deixar em</p>
                    <p class="p-txt">10KM</p>
                </div>
                
                <div class="destiny-row">
                    <p class="p-title local-title">R. Destino de Exemplo</p>
                </div>
            </div>

            <div class="instructions-row">
                  <figure class="dir-icon">
                      <img src="../img/turn-arrow.png" alt="turn-left-icon">
                  </figure>
                
                <p class="p-title">
                      <span>500</span>m
                  </p>

                  <p class="p-txt instru-dir"> R. Rua de Exemplo</p>
            </div>
        </div>
    
    </div>
</body>
</html>