<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>Race profile</title>
</head>
<body class="proRace-body">
    <div class="proRace-container">

        <header class="proRace-header">
            <button class="back-btn">
                <img src="../img/back-btn-black.png" alt="">
            </button>
        </header>
    
        <div class="profileRace-container proRace-Spe">
            <figure class="picClient-box">
                <img src="../img/proPic-user.png" alt="profile-picture-user">
            </figure>

            <div class="txtClient-box">
                <h1 id="clientName" class="clientName p-title"> Nome do Cliente </h1>

                <div class="speRace-box">
                    <div class="paySpe-box">
                        <p id="paymentType" class="p-txt"> Pix </p>
                    </div>
                </div>
            </div>

            <div class="cashTxt-box">
                <h1 id="txtPreco" class="cash  p-title"> R$15,00 </h1>

                <p id="txtKm" class="distance p-txt"> 10KM </p>
            </div>
        </div>

        <div class="note-container">
            <h1 class="p-title">NOTA</h1>
            <p class="p-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class="defSpe-row">
            <div class="defSpe-box def-RaceSpe">
                <figure>
                    <img src="../img/hand-icon.png" alt="hand-icon">
                </figure>

                <p id="txtEspec"> Surdo</p>
            </div>
            <button class="btn serviceTip-btn"> 
                <p> Dicas de atendimento </p>
                <figure>
                    <img src="../img/dbArrow-icon.png" alt="double-arrow-icon-button">
                </figure>
            </button>
        </div>

        <div class="race-container location-RaceSpe">
            <div class="dot-container">
                <div class="dot black-dot"></div>
                
                <div class="trace-div"></div>

                <div class="dot green-dot"></div>
            </div>

            <div class="localRequest-container">
                <div class="local-box pickUp-box">
                    <h2 class="localType-title">Pick Up</h2>
                    <p id="txtOrigem" class="local-txt"> R. Location Example</p>
                </div>

                <div class="local-box dropOff-box">
                    <h2 class="localType-title">Drop Off</h2>
                    <p id="txtDestino" class="local-txt">R. Destiny Example</p>
                </div>
            </div>
        </div>

        <div class="tarifa-container">
            <h1 class="p-title"> TARIFA DA VIAGEM </h1>
            <div class="tarifa-row">
                <h1 class="p-txt">PicPay</h1>
                <p class="p-txt">R$00,30</p>
            </div>

            <div class="tarifa-row">
                <h1 class="p-txt">Nubank</h1>
                <p class="p-txt">R$00,20</p>
            </div>

            <div class="tarifa-row">
                <h1 class="p-txt">Apple Pay</h1>
                <p class="p-txt">R$01,00</p>
            </div>
        </div>

        <div class="outputs-container">
            <div class="output-item">
                <figure>
                    <img src="../img/chat-icon-blue.png" alt="chat-icon-blue">
                </figure>

                <p class="p-title">Mensagem</p>
            </div>

            <div class="output-item">
                <figure>
                    <img src="../img/phone-icon-blue.png" alt="call-icon-blue">
                </figure>

                <p class="p-title">Ligar</p>
            </div>

            <div class="output-item">
                <figure>
                    <img src="../img/video-icon-blue.png" alt=" vide-call-icon-blue">
                </figure>

                <p class="p-title">Vídeo chamada</p>
            </div>
        </div>

        <div class="raceBtn-container">
            <button id="btnAcceptRace" class="btn pickUp-btn p-title"> ACEITAR CORRIDA </button>
            <button id="btnCancelRace" class="btn cancel-btn p-title"> CANCELAR </button>
        </div>
    </div>
    <script>
        $(document).ready(function (){
            $.getJSON('http://127.0.0.1/Muv_DrvierApp/Muv_Driver/www/php/dadoscorrida.php', function (result) {
                $('#clientName').text(result.nome)                
                $('#paymentType').text(result.pagamento)                
                $('#txtKm').text(result.distancia)                
                $('#txtEspec').text(result.especificacao)                
                $('#txtPreco').text(result.preco)                
                $('#txtOrigem').text(result.endOrigem)                
                $('#txtDestino').text(result.endDestino)                
        })
    })
    $('#btnAcceptRace').click(() => {
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1/Muv_DrvierApp/Muv_Driver/www/php/confirmarCorrida.php",
            success: function (data) {
                location.href = 'race.html'
            }
        });
    })
    $('#btnCancelRace').click(() => {
        location.href = 'init-screen.html'
    })
    </script>
</body>
</html>