<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>Cam test</title>
</head>
<body>
    <button id="capture">Capturar Imagem</button>
</body>
<script>
    document.addEventListener('deviceready', onDeviceReady.bind(this), false)

    function onDeviceReady(){
        document.getElementById('capture').addEventListener('click', captureimage)
    }

    function captureimage(){
        var options = {
            limit: 1
        }
        navigator.device.capture.captureImage(onSuccess, onerror, options)

        function onSuccess(mediaFiles){
            var i, len, path
            for (i = 0, len <= mediaFiles.lenght; i < len; i +=1){
                path = mediaFiles[i].fullPath
                alert('imagem salvo amem!')
            }
        }
        function onError(error){
            alert('error: ' + error.code)
        }
    }
    

</script>
<script type="text/javascript" src="../cordova.js"></script>
</html>