<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/index.css">

    <title>Deficientes visuais</title>
</head>
<body>
    <div class="container long-container">

        <div class="useTerms-container">
            <h1 class="blue-title"> Deficientes Visuais </h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> <br>


            <h2 class="blue-title"> Lorem ipsum </h2>

            <ul>
                <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout;</li>

                <li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters;</li>

                <li>as opposed to using 'Content here, content here', making it look like readable English;</li>
            </ul> <br>

            <div class="video-simulator">
                <img src="../img/play-icon.jpg" alt="play-icon">
            </div>

            <h2 class="blue-title"> Lorem ipsum </h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p> <br>


            <a href="congrats.html">
                <button id="userTermsBtn" class="btn terms-btn tutorial-btn">Próximo</button>
            </a>
                
        </div>
    </div>
</body>
</html>