<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/index.css">
    <title>Tutorial</title>
</head>
<body class="tutorial-body">
    
        <div class="tutorial-container">
            
                <div class="tutorial-item tutorial-1">
                        <div class="title-container">
                            <h1>1</h1>
    
                            <p> Como atender...</p>
                        </div>
                        
                        <a href="tutorial-content.html">
                            <div class="defTuto-box">
                                <p>Deficientes Visuais </p>
                                <img src="../img/cego-icon.png" alt="cego-icon">
                            </div>
                        </a>
                            
                </div>
            <footer class="muv-footer">
                <img src="../img/logo-muv-azul.png" alt="logo-muv">
            </footer>
        </div>
</body>
</html>