<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/index.css">

    <title>Deficientes visuais</title>
</head>

<body class="tutoContent-body">


    <div class="container-tutorial">
        <h1 class="blue-title"> Deficientes Visuais </h1> <br>
        <p>Aqui ficaria o texto e material preparado por profissionais da área. </p>

        <p>Este conteúdo é só um exemplo de como seriam apresentados os tutoriais. </p>


        <div class="video-simulator">
            <img src="../img/play-icon.jpg" alt="play-icon">
        </div>

        <p>Vídeos também poderão ser acrescentados. A imagem acima é apenas um exemplo, de onde o vídeo ocuparia espaço, uma simulação. </p> <br>


        <a href="congrats.html">
            <button id="userTermsBtn" class="btn terms-btn tutorial-btn">Próximo</button>
        </a>

    </div>
</body>

</html>