<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
</head>
<body>
    <div class="container">
        <div class="tutorial-container">
            <div class="tutorial-item tutorial-1">
                <div>
                    <h1>1</h1>

                    <p> Como atender...</p>
                </div>

                <div>
                    <p>Deficientes Visuais </p>
                    <img src="../img/cego-icon.png" alt="cego-icon">
                </div>
            </div>
            <footer>
                <img src="../img/logo-muv-azul.png" alt="logo-muv">
            </footer>
        </div>
    </div>
</body>
</html>