<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>

    <title>Termos de uso</title>
</head>

<body>
    <div class="container long-container">

        <div class="useTerms-container">
            <h1 class="blue-title"> Termos de uso </h1>
            <p>
                A permissão é concedida, gratuitamente, a qualquer pessoa que obtenha uma cópia deste software e arquivos de documentação associados (o "Software"), para lidar com o Software sem restrições, incluindo, sem limitação, os direitos de usar, copiar, modificar,
                mesclar , publicar, distribuir, sublicenciar e/ou vender cópias do Software e permitir que as pessoas a quem o Software é fornecido o façam, sujeito às seguintes condições:
            </p>

            <p>
                O aviso de direitos autorais acima e este aviso de permissão devem ser incluídos em todas as cópias ou partes substanciais do Software.
            </p>

            <p>
                O software é fornecido "no estado em que se encontra", sem qualquer tipo de garantia, expressa ou implícita, incluindo, mas não se limitando às garantias de comercialização, adequação a um determinado fim e não violação. em nenhuma hipótese os autores
                ou titulares dos direitos autorais serão responsáveis por qualquer reclamação, danos ou outra responsabilidade, seja em uma ação de contrato, delito ou de outra forma, decorrente de, fora de ou em conexão com o software ou o uso ou outras
                negociações no programas.
            </p>


            <a href="#" class="terms-link">Clique para ver mais detalhes da plataforma</a>

            <a href="#">
                <button id="userTermsBtn" class="btn terms-btn">Eu li e concordo com os termos de uso</button>
            </a>

        </div>
    </div>
    <script>
        $(document).ready(() => {
            $('#userTermsBtn').click(() => {
                location.href = 'pre_doc.html'
            })
        })
    </script>
</body>

</html>